<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

    </style>
    <title>React Chat</title>
</head>

<body>
    <br>
    <div class="container">
        <div class="card box-shadow">
            <div class="card-header" d-flex>
                <center><strong>React Chat</strong></center>
            </div>
            <div class="card-body">
                <ul class="messages">
                    <div class="card-body bg-light"><label for=""><strong>
                                <h3>Burhan</h3>
                            </strong> </label> <br> Hai . .<button type="button" class="btn btn-danger float-right btn-sm">
                            <strong> X</strong> </button>
                    </div>
                    <br>
                    <label for=""><strong>
                            <h3>Bambang</h3>
                        </strong> </label>
                    <div class="card-body bg-light">Juga . .
                        <button type="button" class="btn btn-danger float-right btn-sm"> <strong> X</strong> </button>
                    </div>

                </ul>
            </div>
            <div class="card-footer bg-light">
                <br>
                <form action="">
                    <input type="text" placeholder="Your Name" class="form-control" />
                    <br>
                    <textarea class="form-control" name="" id="" cols="115" rows="5"
                        placeholder="Write Your Chat Here"></textarea>
                    <br>
                    <button type="button" class="btn btn-primary form-control">Post</button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>